// Bootstrap
@import '~bootstrap/scss/bootstrap';


$fa-font-path: '~fontawesome/webfonts';
@import '~fontawesome/scss/fontawesome';
@import '~fontawesome/scss/brands';
@import '~fontawesome/scss/regular';
@import '~fontawesome/scss/solid';

.blink {
    animation: blink 0.3s;

}

.vibrate {
    animation: vibrate 0.3s;
}

.error_message {
    color: rgb(248, 107, 107);
    margin-left: 1rem;
    font-size: .7rem;
}



@keyframes blink {
    0% {
        color: black;
    }

    50% {
    color: rgb(248, 107, 107);
        
    }
}

@keyframes vibrate {
    0% {
        transform: translate(0);
    }

    20% {
        transform: translate(-2px);
    }

    40% {
        transform: translate(2px);
    }

    60% {
        transform: translate(-2px);

    }

    80% {
        transform: translate(2px);

    }

    100% {
        transform: translate(0);
    }
}